.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  flex: 1;
}

.sidebar {
  width: 250px;
  background-color: #2c2c2c;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: auto;
  border-right: 1px solid #ddd;
}

.notesWrapper {
  width: 100%;
}